body{
        font-family: "Merriweather", serif;
        font-weight: 900;
        font-style: italic; 
}
h1{
    font-size:  50px;
}
#highlight{
    color: rgb(82, 82, 172);
}
.big{
    font-size: 60px;
}
.light{
        font-weight: normal;
}
.half-width{
    width: 45%;
    float: left;
}